@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: #F5F5F5;
}

.container {
  max-width: 375px;
  height: fit-content;
  margin: 0 auto;
  
}

header {
  padding-inline: .625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  background: #FFFFFF;
  border-bottom: #C6C6C6 solid 1px;
}

.logo {
  width: 127px;
}

.user-img {
  width: 34px;
  height: 34px;
  border-radius: 50px;
}

.card {
  margin-bottom: 1em;
  background: #FFFFFF;
}

.card-header {
  padding-block: .75rem;
  padding-inline: .625rem;
  display: flex;
  align-items: center;
  gap: .25rem
}

.name p {
  margin: 0;
  display: inline;
  font-size: 13px;
  font-weight: bold;
}

.location p {
  margin: 0;
  font-size: 12px;
}

.post-img {
  width: 100%
}

.post-icons {
  display: flex;
  padding: 1rem .625rem .5rem;
  gap: 1rem;
}

.post-icon {
  width: 24px;
}

.post-likes p{
  padding-inline: .625rem;
  margin: 0;
}

.post-comments p {
  padding: .5rem .625rem;
  margin: 0;
}

.post-comments p span {
  font-weight: bold;
}

.red {
  position: relative;
}

.red::after {
  position: absolute; 
  content: ""; 
  right: 0px; 
  top: -3px; 
  width: 12px; 
  height: 18px; 
  background: red;
  border-radius: 50px 50px 0 0;

  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg); 
   -ms-transform: rotate(45deg); 
    -o-transform: rotate(45deg); 
       transform: rotate(45deg); 
-webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%; 
   -ms-transform-origin: 0 50%; 
    -o-transform-origin: 0 50%; 
       transform-origin: 0 50%;
}

.red::before {
  position: absolute; 
  content: ""; 
  left: 5px; 
  top: 5px; 
  width: 12px; 
  height: 18px; 
  background: red;
  border-radius: 50px 50px 0 0;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg); 
   -ms-transform: rotate(-45deg); 
    -o-transform: rotate(-45deg); 
       transform: rotate(-45deg); 
-webkit-transform-origin: 0 50%; 
  -moz-transform-origin: 0 50%; 
   -ms-transform-origin: 0 50%; 
    -o-transform-origin: 0 50%; 
       transform-origin: 0 50%;
}